@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Paramètres Globaux */

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
  text-align: justify;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  padding: 50px 50px;
  background-color: rgba(19, 33, 110, 0.486);
}

.main {
  padding: 50px 25px;
  background-color: white;
  padding: 50px;
}

h1 {
  text-align: center;
  color: #ff0000;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 50px;
  /* width: auto; */
}

.title {
  margin: auto;
}

h2 {
  color: #333131;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
}

/* Partie Entête */

.name {
  font-weight: bold;
}

.address {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
}

a[href^="tel"]::before {
  content: "📞 ";
}

a[href^="mailto"]::before {
  content: "📧 ";
}

/* Partie après entête */

.rôle {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li::before {
  content: "▪";
  color: red;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
}

.name {
  font-weight: bold;
}
