@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Paramètres Globaux */

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  padding: 50px 50px;
  background-color: rgba(19, 33, 110, 0.486);
}

.main {
  background-color: white;
  padding: 50px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #ff0000;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 50px;
  /* width: auto; */
}

.title {
  margin: auto;
}

h2, p {
  color: #333131;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
}

/* Partie Entête */

.img {
  width: auto;
  margin: auto;
}

.address {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

a[href^="tel"]::before {
  content: "📞 ";
}

a[href^="mailto"]::before {
  content: "📧 ";
}

/* Partie après entête */

.role,.name {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li::before {
  content: "▪";
  color: red;
  display: inline-block;
  width: 1.8em;
  margin-left: -1em;
}

/* Media Queries */
@media screen and (max-width: 576px) {
  .container{
  padding: 25px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: auto;
  }

  .address {
    margin-top: 20px;
  }
  h1 {
    text-align: center;
    color: #ff0000;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: auto;
  }

  h2 {
    font-weight: bold;
  }

  .domaine-compet {
/*     width: 250px; */
    margin: auto;
    word-wrap: break-word;
  }

  section {
    margin: 15px;
  }
  .title {
    font-size: 0.8em;
  }
  .main {
    padding: 25px;
  }
}
